/* ==========================================
   STYLES DES FORMULAIRES
   Utilisé dans : inscription.php, connexion.php,
   reservation_salle.php, ajout_materiel.php,
   ajout_salle.php, validation_salle.php
   ========================================== */


   :root {
    --bs-primary: #2F2A86;
    --bs-primary-rgb: 47, 42, 134;
}
.bg-primary {
    background-color: #2F2A86 !important;
}
.btn-primary {
    background-color: #2F2A86 !important;
    border-color: #2F2A86 !important;
    border-radius: 5px !important;
}
.btn-primary:hover {
    background-color: #1f1c66 !important;
    border-color: #1f1c66 !important;
}
.btn-outline-primary {
    color: #2F2A86 !important;
    border-color: #2F2A86 !important;
}
.btn-outline-primary:hover {
    background-color: #2F2A86 !important;
    color: white !important;
}

