* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    background-color: #2F2A86;
    padding: 1.4%;
    width: 100%;
}

.images-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_univ img {
    width: 16%;
}

.logo-header img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
}

.img_compte img {
    width: 48px;
    height: 48px;
    margin-left: 0;
    object-fit: contain;
    display: block;
}

/* NAVBAR */
.navbar {
    display: flex;
    gap: 2%;
    padding: 0.7%;
    background-color: #26236b;
    align-items: center;
}

.navbar a {
    margin-left: 6%;
    color: white;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.8s, color 0.8s;
    padding: 0.7% 1.7%;
    border-radius: 0.7em;
}

.navbar a:hover {
    background-color: white;
    color: #2F2A86;
}

.conteneur-formulaire {
    display: flex;
    justify-content: center;
    margin: 3% 9%;
}

#insc_hauteur {
    margin-top: 5%;
}


.footer {
    background-color: #2f2a86;
    color: white;
    padding: 30px 8%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    font-size: 0.9em;
}

.logo-footer {
    height: 40px !important;
    width: auto !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-column {
    flex: 1 1 200px;
    min-width: 200px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.footer-column p,
.footer-column a {
    display: block;
    margin: 5px 0;
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #221f6a;
    color: #ddd;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.85em;
}

.footer-bottom-links {
    margin-bottom: 8px;
}

.footer-bottom-links a {
    color: #ddd;
    text-decoration: none;
    margin: 0 8px;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-bottom-links span {
    color: #888;
}

.footer-column img {
    display: block;
    margin: 6px 0;
    width: 24px; /* ou la taille que tu préfères */
    height: auto;
}