/* ==========================================
   STYLES DES FORMULAIRES
   Utilisé dans : inscription.php, connexion.php,
   reservation_salle.php, ajout_materiel.php,
   ajout_salle.php, validation_salle.php
   ========================================== */

h1 {
    text-align: center;
}


.conteneur-formulaire {
    display: flex;
    justify-content: center;
    margin: 3% 9%;
}

form {
    background-color: white;
    padding: 3.5% 4%;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Champs du formulaire */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
input[type="password"],
input[type="button"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-valider {
    background: #2F2A86;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 107%;
}

button.btn-valider:hover {
    background: #1f1c66;
}

/* Lien d'inscription */
form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2F2A86;
    font-size: 90%;
    text-decoration: none;
    transition: color 0.3s;
}

form a:hover {
    color: #1f1c66;
    text-decoration: underline;
}

#insc_hauteur {
    margin-top: 5%;
}